@media screen and (orientation:landscape){
   #cover .container
   {
      max-height: 10%;
   }
}
body{
    background-color: rgb(184, 184, 184);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0px;
}
#myBar{
    position: absolute;
    top: 1vh;
    left: 2vh;
    height: 4vh;
    width: 50vh;
    z-index: 1;
}
@media (max-width: 768px) {
    #myBar{
        display:none;
    }
}
#check{
    position: absolute;
    right: 2vh;
    top: 1vh;
    cursor: pointer;
    z-index: 1;
    height: 4vh;
    width: 6vh;
}
.dark-mode{
  background-color: rgb(73, 79, 82);
  color: white;
}
#cover{
    justify-content: center;
    display: flex;
    position: fixed;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-color: rgb(73, 79, 82);
}
#skip{
    font-size: 15;
    height: 5vh;
    width: 13vh;
    background-color: transparent;
    box-shadow: rgb(174, 180, 183);
    border-radius: 3px;
    right: 5vh;
    bottom: 15vh;
    position: fixed;
    cursor: pointer;
}
.container{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
}
.fullscreen{
    background-color: rgb(73, 79, 82);
}
.examples{
    position: relative;
}
.examples div{
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    font-size: 20px;
}
.examples a{
    color: #ccc;
    text-decoration: none;
    padding: 0 10px;
}
.examples a:hover{
    color: #fff;
}
